export ANTHROPIC_BASE_URL=""
export ANTHROPIC_API_KEY=""

export OPENAI_BASE_URL=""
export OPENAI_API_KEY=""

export MISTRAL_BASE_URL=""
export MISTRAL_API_KEY=""

export GROK_BASE_URL=""
export GROK_API_KEY=""

export AI_PROXY_BASE_URL=""
export AI_PROXY_API_KEY=""

export VPN_GATEWAY=""

export GITHUB_TOKEN=""
export PACKAGES_USERNAME=""
export PACKAGES_TOKEN=""
export NPM_TOKEN=""
